/* Write your CSS here */

.notfound-card {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.bg-white {
  background-color: #ffffff;
  color: #000000;
}
.bg-black {
  background-color: #000000;
  color: #ffffff;
}

.image-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Roboto;
}

.image {
  width: 250px;
}

.htext-black {
  color: #334155;
  font-size: 36px;
}
.htext-white {
  color: #f8fafc;
  font-size: 36px;
}

.ptext-white {
  color: #f8fafc;
  font-size: 16px;
}

.ptext-black {
  color: #64748b;
  font-size: 16px;
}
